.upload-form {
    display: flex;
    flex-direction: column;
    gap: 3px;
    background: #9bb8cd;
    padding: 20px;
    border-radius: 12px;
    color: #fff;
    max-width: 500px;
    margin: 1px;
    height: auto;
    align-self: flex-start;
}

.upload-form h2 {
    color:#fff;
}

.form-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-bottom:2rem;
}

.select-categories,
input,
select,
textarea {
    padding: 10px;
    border-radius: 8px;
    border: none;
    outline: none;
    background: #2c2c2c62;
    color: #fff;
}

textarea {
    resize: vertical;
    min-height: 80px;
}

.submit-btn, .cancel-btn {
    background: #329432;
    color: white;
    font-weight: bold;
    padding: 10px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: background 0.2s ease;
    width: 6em;
    margin-left: 1rem;
}

.submit-btn:hover {
    background: #379cd8;
}

.file-name {
    font-size: 12px;
    color: #bbb;
}
